cdk/bin/*.js
cdk/lib/*.js
cdk/lib/**/*.js
cdk/test/*.js
!cdk/jest.config.js
cdk/*.d.ts
cdk/**/*.d.ts
node_modules

# CDK asset staging directory
cdk/.cdk.staging
cdk/cdk.out

# Hugo
public
resources/_gen
.hugo_build.lock